<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Eflyer</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="bootstrap/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  -->
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/css/owl.carousel.min.css">
    <link rel="stylesoeet" href="bootstrap/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>
<!--Login form-->
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div style="background-color: aliceblue; margin-top: 2%; margin-bottom: 2%; padding: 20px; border-radius: 10px;">
                    <form action="../controller/connexion-controller.php? action=connexion" method="post">
                        <div class="text-center mb-3">
                            <p>Se connecter avec:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>
                        </div>
                        <p class="text-center">ou:</p>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="login">Email</label>
                            <input type="email" name="login" class="form-control" required />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="mdp">Mot de passe</label>
                            <input type="password" name="mdp" class="form-control" required />
                        </div>

                        <!-- 2 column grid layout -->
                        <div class="row mb-4">
                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-3 mb-md-0">
                                    <input class="form-check-input" type="checkbox" value="" id="loginCheck" />
                                    <label class="form-check-label" for="loginCheck">Souviens de moi </label>
                                </div><br>
                            </div>

                            <div class="col-md-6 d-flex justify-content-center">
                                <a href="#!">mot de passe oblié?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Se connecter</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>Pas un membere? <a href="#!">Créer compte</a></p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <body>
        <script src="bootstrap/js/jquery.min.js"></script>
        <script src="bootstrap/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="bootstrap/js/jquery-3.0.0.min.js"></script>
        <script src="bootstrap/js/plugin.js"></script>
        <!-- sidebar -->
        <script src="bootstrap/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="bootstrap/js/custom.js"></script>
    </body>

</html>